*{
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(/img/img.freepik.jpg);
    background-size: cover;/*faz a imagem cobrir o fundo todo*/
    background-repeat: no-repeat;/*sem repetir a imagem*/
    background-attachment: fixed; /*fixa a imagem de fundo*/
    background-position: center;
}

/*menu*/
.container-md a{
    color: antiquewhite;
}
.navbar{
    background-color: rgb(1, 4, 21);
    padding: 25px;
    margin-bottom: 50px;
}

.navbar a{
    font-size: larger;
    margin: 5px;
}

/*header*/
header {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 12px;
}

header h1 {
    display: flex;
    justify-content:center;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 5px;
}

header h5 {
    display: flex;
    justify-content:center;
    font-size: 25px;
}

/*card*/
.card{
    text-align:justify;
    background-color: rgb(1, 7, 46);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 74px;
}

.card img{
    border-radius: 10px;
}

/*seções*/
section.container-fluid{
    background-color: rgb(1, 7, 46);
    text-align:justify;
    padding: 30px;
    margin-top: 90px;
    margin-bottom: 2cm;
}

section p{
    font-size:medium;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: 35px;
}

/*link de navegação (voltar)*/
.voltar a{
    text-decoration: none;
    color: antiquewhite;
    padding-left: 3px;
    width: 30px;
}
.voltar i:hover {
    transition: color 0.3s;
    color: rgb(20, 36, 134);
}

.voltar{
    padding-top: 15px;
}
/*hover dos links gerais*/
#hover:hover{
    text-decoration: underline;
    transition: color 0.3s;
    color: rgb(20, 36, 134);
}

/*formação*/
.container-flex h3 {
    font-size:medium;
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding-right: 20px;
}

.row i:hover{
    cursor: pointer;
    transition: color 0.3s;
    color: rgb(20, 36, 134);
}

.container-flex ul {
    list-style: none; /* Remove marcadores de lista */
}

.container-flex li {
    list-style: none;
    font-size:medium;
    font-weight: 300;
}

.container{
    margin: 37px;
}

.row i{
    margin: 10px;
}

/*Certificados*/
#certificados a{
    text-decoration: none;
    color: antiquewhite;
    margin: 10px;
}

#certificados h3{
    padding-bottom: 30px;
}
/*footer*/
footer{
    background-color: rgb(1, 4, 21);
    padding: 20px;
}

footer li{
    display: inline;
    list-style: none;
    text-decoration: none;
}

.social-network a{
    color: antiquewhite;
    margin: 5px;
    text-decoration: none;
}

.social-network a:hover{
    transition: color 0.3s;
    color: rgb(20, 36, 134);
}
.nome{
    padding-left: 16px;
}